# Normalize EOL for all files that Git considers text files
* text=auto eol=lf

# Exclude addon scripts and stray GDScript files from GitHub statistics
game/addons/** linguist-vendored
*.gd linguist-vendored
